<a href="https://colab.research.google.com/github/abidmuin/programming-problems/blob/master/LeetCode/fix_names_in_a_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Link - [Fix Names in a Table](https://leetcode.com/problems/fix-names-in-a-table/)

In [1]:
import pandas as pd

In [2]:
data = [[1, 'aLice'], [2, 'bOB']]
Users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

In [3]:
def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str.capitalize()
    result = users.sort_values(by='user_id')

    return result

In [4]:
fix_names(Users)

   user_id   name
0        1  Alice
1        2    Bob